* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p {
  line-height: 1.9rem;
}
.main-container {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
}
.main-container > div {
  border: 1px solid black;
  padding: 20px 40px;
}

.main-content {
  flex: 3;
  order: 2;
}
.left-sidebar {
  flex: 1;
  order: 1;
}
.right-sidebar {
  flex: 1;
  order: 3;
}

/* Gallery */
.gallery-container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-container > div {
  flex-basis: 10%;
  background: #ccc;
  padding: 20px 40px;
  margin-bottom: 1rem;
}

/*For Complex Content*/

.complex-container {
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
}
.complex-container > div {
  border: 3px solid white;
}
.content-1 {
  flex: 1;
  padding: 20px 40px;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content-2 {
  background: red;
  padding: 20px 40px;
  text-align: center;
}
.content-3 {
  background: blue;
  padding: 20px 40px;
  text-align: center;
}
